<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
	<title>Título para User</title>
	<style type="text/css">
		.title{
			min-height: 200px;
			margin: 0 auto;
			color: lightgreen;
			text-align: center;
			background-color: cadetblue;
		}

		.paragraph{
			min-height: 200px;
			padding: 40px;
			margin: 0 auto;
			background-color: blueviolet;
			color: white;
			text-align: justify;
		}


		
		footer{
			height: 400px;
			background-color: black;
			color: white;
			margin: 0 auto;
			padding: 80px;
			position: bottom;
		}


	</style>
</head>
<body>

	<h1 class="title">Apenas Mais Um Dummy</h1>

	<div class="paragraph">
		<p>
			Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1
			Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1
			Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1
			Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1Paragrafo 1
		</p>
	</div>
	
	<div class="paragraph">
		<p>
			<ul>
				<li>Paragrafo 2</li>
				<li>Paragrafo 2</li>
				<li>Paragrafo 2</li>
				<li>Paragrafo 2</li>
				<li>Paragrafo 2</li>
			</ul>
		</p>
	</div>
	
	<footer>
		<p align="center">Bada Bing Footer</p>
	</footer>

</body>
</html>